<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Education Platform</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/login">Log in</a>
        </nav>
        
    </header>
    <main>
        <h1>Apa yang anak pelajari tentang coding?</h1>
        <br>
        <div class="home-section">
            
            <div class="coding-class-section">
                <img src="/ck.png" alt="ScratchJr" class="coding-image">
              <div class="coding-description">
                <h2>Kelas Coding untuk anak usia 5-6 tahun</h2>
                <p>
                  Anak-anak akan belajar dasar-dasar coding dengan menggunakan block coding dari Code.org dan ScratchJr. 
                  Sistem pembelajaran yang dirancang berbasis game atau gamifikasi sehingga anak-anak akan merasa senang dalam pembelajaran
                  Anak-anak diminta untuk menyelesaikan beberapa level yang melibatkan tugas-tugas logika dan pengkodean sederhana.
                  Meskipun anak-anak terlihat seperti bermain game, namun kelas ini membantu anak-anak mengembangkan keterampilan logika,
                  algoritma, dan pemecahan masalah yang merupakan inti dari pemrograman. Tantangan yang dihadapi siswa secara bertahap menjadi 
                  lebih kompleks, seiring dengan peningkatan kemampuan mereka. 
                  
                  
                  <br>
                  <br>Program ini mencakup pengajaran konsep-konsep dasar pemrograman seperti loop (pengulangan), conditional statements (percabangan),
                  dan function (fungsi).
                  Dengan menyelesaikan misi, anak-anak memahami bagaimana komputer mengikuti serangkaian perintah yang logis. Anak-anak akan diajarkan
                  membuat game sederhana menggunakan perintah-perintah yang telah mereka pelajari, output dari kelas ini adalah anak-anak dapat memahami
                  bagaimana komputer berpikir dan mengajari komputer perintah yang diberikan sehingga menghasilkan hasil sesuai dengan yang diinginkan
                </p>
              </div>
            </div>
          
            <hr> <br><br>
            <div class="coding-class-section reverse">
                <img src="/vp.png" alt="Scratch" class="coding-image">
              <div class="coding-description">
                <h2>Kelas Coding untuk anak usia 7-8 tahun</h2>
                <p>
                  Kelas ini didesain untuk anak-anak yang sudah bisa membaca dengan fokus
                  pada pengajaran konsep pemrograman yang lebih kompleks dari kelas coding usia 5-6 tahun.
                  Alih-alih menulis kode dalam teks, anak-anak tetap menggunakan blok-blok visual yang mewakili
                  perintah-perintah pemrograman. Pendekatan ini membantu anak-anak memahami logika pemrograman, 
                  algoritma dan konsep dasar coding tanpa perlu khawatir dengan sintaksi yang rumit.
                
                <br>
                <br>Program ini mencakup pengajaran algoritma, loop (pengulangan), conditional statements (percabangan),
              function (fungsi), variable, dan data type (tipe data). Karena tidak membutuhkan pengetahuan pemrograman sebelumnya, 
              kelas ini sangat cocok bagi anak-anak yang baru mulai belajar coding. Dengan menggunakan platform seperti Scratch, kelas ini 
              memberikan lingkungan belajar yang menarik, mendorong kreativitas siswa dalam menyelesaikan tugas-tugas dan proyek coding.</p>
              </div>
              
            </div>
            <hr> <br><br>
            <div class="coding-class-section">
              <img src="/ps.png" alt="Bahasa Pemrograman Python" class="coding-image">
              <div class="coding-description">
                <h2>Kelas Coding untuk anak usia 9-12 tahun</h2>
                <p>
                  Kelas ini didesain untuk memperkenalkan pemrograman Python kepada pemula.
                  Python adalah salah satu bahasa pemrograman yang paling populer di dunia karena 
                  sintaksisnya yang sederhana dan mudah dipahami, sehingga ideal untuk anak-anak yang 
                  mau belajar bahasa pemrograman. Pada kelas ini, anak-anak akan belajar tentang dasar-dasar
                  bahasa pemrograman menggunakan Python dengan pendekatan yang mudah diikuti dan berfokus Pada
                  pembelajaran praktis.

                  <br>
                  <br> Program dimulai dengan memperkenalkan apa itu Python, termasuk sejarahnya, keunggulan bahasa, 
                  serta berbagai bidang dengan menggunakan Python. Anak-anak akan belajar dasar pemrograman seperti variable 
                  dan tipe data, operator dasar, struktur data seperti list, tuple dan dictionary. 
                </p>
              </div>
            </div>
            <hr> <br><br>
            
            <div class="coding-class-section reverse">
                
              <img src="/js.png" alt="Game Dev" class="coding-image">
              <div class="coding-description">
                <h2>Kelas Coding <i>Advance</i> untuk anak yang telah lulus dari kelas sebelumnya (kecuali 5-6 tahun)</h2>
                <p>
                  Kelas ini didesain untuk anak-anak yang sudah memiliki pengetahuan dasar pemrogram
                  dan ingin memperdalam pengetahuan mereka tentang pemrograman. Pada kelas ini, anak-anak
                  akan belajar dasar-dasar pengembangan game, mulai dari konsep desain hingga pemrograman dan
                  pembuatan game yang lengkap. Anak-anak akan diperkenalkan pada konsep pengembangan game, termasuk
                  elemen-elemen penting dalam game seperti karakter, latar, mekanika, alur cerita, dan tujuan.
                  Anak-anak juga akan diperkenalkan dengan engine game, framework dan bagaimana game dikembangkan dari
                  awal hingga menjadi produk akhir yang bisa dimainkan.

                  <br>
                  <br>Pada kelas ini, anak-anak akan mengenal lebih dalam mengenai pemrograman, mereka akan mempelajari
                  class, inheritance, object, dan yang lain sebagainya. Fisika dasar juga dipelajari, seperti gravitasi,
                  kecepatan, dan interaksi object yang memengaruhi bagaimana game bekerja dengan lebih realistis. 
                  Setelah membuat game, anak-anak akan belajar cara menguji dan memperbaiki game mereka. Ini melibatkan pencarian 
                  dan perbaikan bug (debugging) serta memastikan game berjalan dengan baik di berbagai perangkat.
                </p>
              </div>
              
            </div>

          </div>
          
        
        
    </main>
    <footer>
        &copy; 2024 Our Education Platform. All rights reserved.
    </footer>
    
</body>
</html>
