<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Education Platform</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
          
    </style>
</head>
<body>
    <div class="about">


    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/login">Log in</a>
            
        </nav>
        
    </header>
    <main>
        
            <h1 class="title">Tentang Kami</h1>
            <img src="grad.jpg" alt="" style="margin: 20px; border: 35px solid #d7d7da ;">
            <p style="margin: 10px 100px;">Pengenalan coding sejak dini penting untuk mempersiapkan anak-anak menghadapi tantangan di masa depan. 
                Coding memberikan dampak positif terhadap keterampilan berpikir komputasional, pemecahan masalah, 
                serta pengembangan sosial-emosional anak. Website ini dirancang sebagai platform untuk menganalisis 
                dan menyampaikan hasil penelitian terkait dampak kelas coding terhadap nilai STeM (Science, Technology, 
                dan Math) siswa.</p>
    
            <p style="margin: 10px 100px;">Tujuan utama website ini adalah untuk menyajikan hasil penelitian terkait dampak kelas coding 
                terhadap nilai STeM siswa. Dengan data ini, diharapkan dapat membantu pemangku kepentingan dalam 
                mengambil keputusan berdasarkan data terkait pentingnya pembelajaran coding.
                Berdasarkan penelitian, siswa yang mengikuti kelas coding memiliki nilai rata-rata lebih tinggi 
                dibandingkan yang tidak mengikuti. Berikut adalah rata-rata nilai STeM:</p>
            <ul>
                <li>Science: Coding (85.61) vs Non-Coding (80.33)</li>
                <li>Technology: Coding (88.03) vs Non-Coding (78.95)</li>
                <li>Math: Coding (85.68) vs Non-Coding (78.85)</li>
            </ul>
    
            <!-- Kesimpulan dengan Grafik -->
            <!-- <h2>Kesimpulan</h2> -->
            <p style="margin: 10px 100px;">Kelas coding memberikan dampak positif signifikan terhadap nilai akademik siswa di bidang STeM. 
                Grafik berikut menggambarkan perbedaan nilai rata-rata STeM antara siswa yang mengikuti kelas coding dan yang tidak.</p>
          
          <h2 style="text-align:center" class="title">Our Class</h2>
          <div class="row">
            <div class="column">
                <div class="card">
                    <img src="ck.png" alt="" width="100%" height="100%">
                    <div class="container">
                        <h2>Kelas Awal</h2>
                        <p class="title" style="display: flex; justify-content:center;">Usia 5-6 tahun</p>
                        <p>Pada kelas ini, Anak - anak akan belajar pemrograman menggunakan aplikasi ScratchJr dengan 
                            command block coding yang mudah dipahami oleh anak-anak yang bahkan belum bisa membaca
                        karena menggunakan gambar dan warna saja.</p>
                    </div>
                </div>
            </div>
          
            <div class="column">
                <div class="card">
                    <img src="vp.png" alt="" width="100%" height="100%">
                    <div class="container">
                        <h2>Kelas Menengah</h2>
                        <p class="title" style="display: flex; justify-content:center;">Usia 7-8 tahun</p>
                        <p>Pada kelas ini, Anak-anak akan belajar pemrograman menggunakan aplikasi Scratch dengan 
                            block coding yang mudah dipahami oleh anak-anak, kelas ini sudah lebih kompleks namun tetap dapat
                            diikuti oleh anak yang tidak memiliki dasar pemrograman sebelumnya.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="ps.png" alt="" width="100%" height="100%">
                        <div class="container">
                            <h2>Kelas Atas</h2>
                            <p class="title" style="display: flex; justify-content:center;">Usia 9-12 tahun</p>
                            <p>Pada kelas ini, Anak-anak akan belajar pemrograman menggunakan bahasa pemrograman Python, 
                                anak-anak yang belum memiliki pengetahuan tentang pemrograman dapat mengikuti kelas ini 
                                karena kelas ini mempelajari dasar pemrograman.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="js.png" alt="" width="100%" height="100%">
                        <div class="container">
                            <h2>Kelas Advance</h2>
                            <p class="title" style="display: flex; justify-content:center;">Usia 8-13 tahun</p>
                            <p>Kelas ini dikhususkan kepada anak-anak yang telah memiliki pengetahuan dasar tentang pemrograman (kecuali kelas awal). 
                                Karena pada kelas ini anak-anak tidak belajar dasar pemrograman melainkan belajar menjadi seorang Game Developer menggunakan bahasa pemrograman JavaScript.
                            </p>
                        </div>
                    </div>
                </div>      
        </div>
            
            
        
        </div>
               

    </main>
    <footer>
        &copy; 2024 Our Education Platform. All rights reserved.
    </footer>
    
</body>
</html>
