<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Student - Coding Kids</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav>
        <a href="/dashboard">
          Dashboard
      </a>
        <!-- <a href="/addStudent">Add New Student</a> -->
        <a href="/">Logout</a>
    </nav>
    
  </header>
       <div class="csv-upload">
        <form id="uploadForm" enctype="multipart/form-data">
          <div id="drop-area">
            Drag here to upload or
          </div>
          <input type="file" id="csvFile" accept=".csv" required>
          <button type="submit" style="display: inline-block;">Upload CSV</button>
        </form>
       </div>
  
  <footer>
    &copy; 2024 Our Education Platform. All rights reserved.
</footer>
</body>
</html>
