<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bantuan</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/dashboard">Dashboard</a>
            <a href="/analisis">Analisis</a>
            <a href="/">Log out</a>
            
        </nav>
        
    </header>
    
        <br><br><br><h1 style="padding-top: 10px;">Bantuan</h1>
    <h4>Kapan kondisi perbedaan tidak signifikan?</h4>
    <p>Perbedaan tidak akan signifikan jika nilai rata-rata coding sama dengan 
        atau mendekati nilai rata-rata tidak ikut coding. </p>
        <h4>Metode apa yang digunakan?</h4>
        <p>Metode yang digunakan adalah MANOVA Two-ways <br>
            MANOVA Two-Ways adalah teknik statistik yang digunakan untuk menguji 
            perbedaan antara dua atau lebih kelompok <br> pada beberapa variabel terikat secara simultan 
            akibat perlakuan dua variabel bebas.</p>
    <h4>Software apa saja yang digunakan untuk membuat situs web ini?</h4>
    <p>
        Software yang digunakan untuk membangun situs ini adalah EJS, MongoDB, JavaScript, dan Python.
    </p>
    <h4>Apa hasil dari penelitian ini?</h4>
    <p>Hasil dari penelitian ini menunjukkan adanya perbedaan yang signifikan
        pada anak yang mengikuti kelas coding dengan yang tidak.</p>
    
    
    

    <!-- <a href="/dashboard">Kembali ke Beranda</a> -->
</body>
</html>
